{{>layout/header}}

<h1>Login</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">ID</label>
                <input type="text" class="form-control" id="id" placeholder="ID를 입력하세요">
            </div>
            <div class="form-group">
                <label for="author"> Password </label>
                <input type="text" class="form-control" id="pw" placeholder="PW를 입력하세요">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">가입</button>
    </div>
</div>

{{>layout/footer}}