{{>layout/header}}

<h1>  Sign Up </h1>
<form action="/signup" method="post">
    <div><label> Email : <input type="text" name="email"/> </label></div>
    <div><label> Password : <input type="text" name="password"/> </label></div>
    <div><input type="submit" value="save"/></div>
</form>

{{>layout/footer}}
